# 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [1]:
import regex as re
import pandas as pd

In [2]:
string='Python Exercises, PHP exercises.'
pattern=r'[\s,.]'
result=re.sub(pattern,':',string)
print(result)

Python:Exercises::PHP:exercises:

# 2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [3]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)

df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [4]:
def clean_text(df):
    cleaned_text = re.sub(r'[^\w\s]', '', df)
    words = ' '.join(cleaned_text.split())
    return words
df['SUMMARY'] = df['SUMMARY'].apply(clean_text)
print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

# 3--Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [5]:
string='hi good morning everyone. my name is shubham sharma and '
pattern=r'\w{4}'
compile_pattern=re.compile(pattern)
result=compile_pattern.findall(string)
print(result)

['good', 'morn', 'ever', 'yone', 'name', 'shub', 'shar']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory

In [6]:
string='hi good morning everyone. my name is shubham sharma and i am here to learn python,machineleaning and dashboard making'
pattern=(r'\b\w{3,5}\b')

compile_pattern=re.compile(pattern)
result=compile_pattern.findall(string)
print(result)

['good', 'name', 'and', 'here', 'learn', 'and']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [7]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def param(strings):
    pattern = re.compile(r'\([^)]*\)')
    cleaned_strings = [pattern.sub('', i) for i in strings]
    return cleaned_strings
cleaned_text = param(sample_text)
for text in cleaned_text:
    print(text)

example
hr@fliprobo
github
Hello
Data

# Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [8]:
string='ImportanceOfRegularExpressionsInPython'
pattern=r'[A-Z][a-z]*'
result=re.findall(pattern,string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
string='RegularExpression1IsAn2ImportantTopic3InPython'
pattern=r'(\D)(\d)'
result=re.sub(pattern,r'\1 \2',string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
string='RegularExpression1IsAn2ImportantTopic3InPython'
pattern=r'([A-Z0-9])([A-Za-z])'
result=re.sub(pattern,r'\1 \2',string)
print(result)

R egularE xpression1 IsA n2 ImportantT opic3 InP ython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [11]:
df = pd.read_csv('1111.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
df['first_five_letters'] = df['Country'].str.extract(r'(\w{6})')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

# i an unable to give answer of this question bcoz i did not get the question

# Question 12- Write a Python program where a string will start with a specific number.

# i an unable to give answer of this question bcoz i did not get the question

# Question 13- Write a Python program to remove leading zeros from an IP address

In [13]:
ip_address = "192.001.012.045"
pattern = r'(\b|(?<=\.))0+(\d)'
cleaned_ip = re.sub(pattern, r'\1\2', ip_address)
print(cleaned_ip)

192.1.12.45

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

# i an unable to give answer of this question bcoz i did not get the question

# Question 15- Write a Python program to search some literals strings in a string.

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [14]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

for word in searched_words:
    pattern = re.compile(re.escape(word))
    if pattern.search(sample_text):
        print(f"'{word}' found in the text.")
    else:
        print(f"'{word}' not found in the text.")

'fox' found in the text.
'dog' found in the text.
'horse' not found in the text.

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'


Searched words : 'fox'

In [15]:
text = 'The quick brown fox jumps over the lazy dog.'
word = 'fox'
result=re.search(word,text)
print(result)

<re.Match object; span=(16, 19), match='fox'>

# Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'

# i an unable to give answer of this question bcoz i did not get the question

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

# i an unable to give answer of this question bcoz i did not get the question

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

# i an unable to give answer of this question bcoz i did not get the question

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [16]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r'\b\d+\.\d{1,2}\b')
matches = pattern.findall(sample_text)
print(matches)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

# i an unable to give answer of this question bcoz i did not get the question

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [18]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'
numbers = re.findall(pattern, sample_text)
if numbers:
    max_number = max(map(int, numbers))
    print(f"The maximum numeric value is: {max_number}")
else:
    print("No numeric values found in the text.")

The maximum numeric value is: 950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [19]:
text = "RegularExpressionIsAnImportantTopicInPython"
result = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)
print(result)

Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [20]:
text = "The Quick Brown fox Jumps Over The Lazy Dog."
pattern = r'[A-Z][a-z]+'
results = re.findall(pattern, text)
print(results)

['The', 'Quick', 'Brown', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [21]:
text = "Hello hello world world"
pattern = r'\b(\w+)(\s+\1)+\b'
result = re.sub(pattern, r'\1', text)
print(result)

Hello hello world

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

# i an unable to give answer of this question bcoz i did not get the question

# Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [22]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result= re.findall(r'#\w+', text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [23]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+[0-9A-Fa-f]+>'
cleaned_text = re.sub(pattern, '', text)
print("Original Text:")
print(text)
print("\nCleaned Text:")
print(cleaned_text)

Original Text:
@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders

Cleaned Text:
@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

# i an unable to give answer of this question bcoz i did not get the question

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [24]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b\w{2,4}\b')
cleaned_text = pattern.sub('', text)
print(cleaned_text)

@Jags123456 Bharat   ??<><U+><U+><><U+><U+>Those    protesting #demonetization    different party leaders