In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\subham\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\subham\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\subham\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\subham\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\subham\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: sortedcontainers in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\subham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\subham\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\subham\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\subham\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\subham\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

[notice] A new release of pip available: 22.2.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import selenium
import pandas as pa
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
#Opening the naukri page on automated chrome browser
driver.get ("https://www.naukri.com/")

In [5]:
# entering designation and location as required in the question-]
designation=driver.find_element (By.CLASS_NAME,"suggestor-input ")
designation. send_keys('Data Scientist')

In [6]:
location=driver.find_element (By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location. send_keys ('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [18]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i. text
    job_title.append (title)

In [19]:
# scraping Job Location from the given page
location_tags=driver.find_elements (By.XPATH,' //span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i. text
    job_location. append (location)

In [20]:
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in company_tags:
    company=i. text
    company_name. append (company)

In [21]:
# scraping Job Experience from the given page
experience_tags=driver.find_elements (By.XPATH,' // span[@class="expwdth"]')
for i in experience_tags:
    exp=i. text
    experience_required. append (exp)

In [22]:
print (len(job_title),len(job_location),len(company_name), len (experience_required))

20 20 20 20

In [33]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-9 Yrs
1,Experienced Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-8 Yrs
2,Data Scientist - Knowledge Graph,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Capco,8-13 Yrs
3,Data Scientist HTHD,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Ford,2-6 Yrs
4,Data Scientist - Assistant Manager/Manager,Bengaluru,Genpact,4-7 Yrs
5,VP- Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune",Citicorp Finance,12-16 Yrs
6,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tech Mahindra,5-8 Yrs
7,Principal Data Scientist,Bangalore/Bengaluru,IBM,10-12 Yrs
8,Data Scientist,Bangalore/Bengaluru,Tech Mahindra,5-10 Yrs
9,Data Scientist,"Hybrid - Bengaluru, Karnataka",Narayana Health (NH),3-5 Yrs
10,Artificial Intelligence Senior Analyst- Insigh...,Bangalore/Bengaluru,Accenture,5-8 Yrs
11,Staff Data Scientist,Bangalore/Bengaluru,Visa Inc,0-3 Yrs
12,Senior Data Scientist (ML Engineer),Bangalore/Bengaluru,Walmart,1-5 Yrs
13,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Walmart,7-9 Yrs
14,Senior Data Scientist,Bangalore/Bengaluru,Walmart,1-5 Yrs
15,Opportunity | Data Scientist | Tavant India,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Tavant Technologies,7-12 Yrs
16,Data Scientist,"Hybrid - Pune, Maharashtra, Bengaluru, Karnata...",Blazeclan Technologies,6-10 Yrs
17,Lotus Interworks - Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Lotus Interworks Inc,1-5 Yrs
18,"Lead, Data Scientist","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Kmart,8-11 Yrs
19,"Lead, Data Scientist","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",KAS Services India,8-11 Yrs

In [24]:
# to fetcg the url -
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="628fd75367e3fccaa1f94e3194bf7631", element="639DFA697C51D7E551E86C8CAC3D2596_element_84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="628fd75367e3fccaa1f94e3194bf7631", element="639DFA697C51D7E551E86C8CAC3D2596_element_85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="628fd75367e3fccaa1f94e3194bf7631", element="639DFA697C51D7E551E86C8CAC3D2596_element_86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="628fd75367e3fccaa1f94e3194bf7631", element="639DFA697C51D7E551E86C8CAC3D2596_element_164")>]

In [26]:
for i in url[0:4]:
    print(i.get_attribute('href'))
    # Lets provide range to print only top 4 data

https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-fractal-protocol-mumbai-pune-chennai-gurgaon-gurugram-bangalore-bengaluru-4-to-9-years-221123502233
https://www.naukri.com/job-listings-experienced-data-scientist-volvo-asset-finance-india-private-limited-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-3-to-8-years-151123500222
https://www.naukri.com/job-listings-data-scientist-knowledge-graph-capco-technologies-pvt-ltd-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-8-to-13-years-031123501080
None

In [28]:
job_titles=[]

In [30]:
start=0
end=3
for page in range(start, end):
    titles=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in titles:
        job_titles.append(i. text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/main/div[1]/div[2]/div[3]/div/a[2]') # to scrap data from
next_button. click()
time.sleep(3)

In [31]:
len(job_titles)

60

In [32]:
job_titles

['Data Scientist/ Senior Data Scientist',
 'Experienced Data Scientist',
 'Data Scientist - Knowledge Graph',
 'Data Scientist HTHD',
 'Data Scientist - Assistant Manager/Manager',
 'VP- Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Artificial Intelligence Senior Analyst- Insights and Intelligence',
 'Staff Data Scientist',
 'Senior Data Scientist (ML Engineer)',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist',
 'Opportunity | Data Scientist | Tavant India',
 'Data Scientist',
 'Lotus Interworks - Data Scientist',
 'Lead, Data Scientist',
 'Lead, Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Experienced Data Scientist',
 'Data Scientist - Knowledge Graph',
 'Data Scientist HTHD',
 'Data Scientist - Assistant Manager/Manager',
 'VP- Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Artificial Intelligence Senior Analyst- Insights and Intelligence',
 'Staff Data Scientist',
 'Senior Data Scientist (ML Engineer)',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist',
 'Opportunity | Data Scientist | Tavant India',
 'Data Scientist',
 'Lotus Interworks - Data Scientist',
 'Lead, Data Scientist',
 'Lead, Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Experienced Data Scientist',
 'Data Scientist - Knowledge Graph',
 'Data Scientist HTHD',
 'Data Scientist - Assistant Manager/Manager',
 'VP- Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Artificial Intelligence Senior Analyst- Insights and Intelligence',
 'Staff Data Scientist',
 'Senior Data Scientist (ML Engineer)',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist',
 'Opportunity | Data Scientist | Tavant India',
 'Data Scientist',
 'Lotus Interworks - Data Scientist',
 'Lead, Data Scientist',
 'Lead, Data Scientist']

In [ ]:

start=0
end=3
for page in range(start, end):
titles-driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in titles:
job_titles.append(i. text)]
next_button-driver.find_element(By.XPATH,'/html/body/div[1]/div/main/div[1]/div[2]/div[3]/div/a[2]') # to scrap data from
next_button. click()
time clean/al